{% extends "base.html" %}
{% block title %}Upload{% endblock title %}
{% block description %}選擇想要拼起來的圖片，再選擇想要的排列方式{% endblock description%}
{% block content %}
<form action={{ url_for('upload_files') }} method="POST" enctype="multipart/form-data">
    <label><input type="file" name="file" accept=".jpg,.jpeg,.png" multiple required /></label><br>
    <input type="submit" /><br>
    <div class="col-12">
        <label><input type="radio" name="mode" value="cs"/>
        共 <input type="number" id="rows" name="rows" value="1" min="1" style="width: 10%;" /> 橫排，左到右，上到下</label>
    </div>
    <div class="col-7">
        <label><input type="radio" name="mode" value="hl" required>水平一排</label><br>
        <img src="https://i.imgur.com/hiTzeq8.jpg" class="sample_pic" alt="sample3">
    </div>
    <div class="col-7">
        <label><input type="radio" name="mode" value="hw" required>水平二排</label><br>
        <img src="https://i.imgur.com/x3TIoqk.jpg" class="sample_pic" alt="sample1">
    </div>
    <div class="col-7">
        <label><input type="radio" name="mode" value="vw" checked="checked" required>垂直二排</label><br>
        <img src="https://i.imgur.com/oT5j4EN.jpg" class="sample_pic" alt="sample2">
    </div>
    <div class="col-7">
        <label><input type="radio" name="mode" value="lv" required>垂直一排</label><br>
        <img src="https://i.imgur.com/miOPAyV.jpg" class="sample_pic" alt="sample4">
    </div>
</form>
{% endblock content %}